h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}

p {
	font-weight: 500 !important;
	text-align: justify;
}

pre, code {
	font-family: ui-monospace !important;
	font-weight: 500 !important;
}

.md-content {
	margin: 0% 4% 0% 4%;
}


figure {
	margin: 5% 0% 5% 0% !important;
}

figcaption {
	font-size: 85%;
	text-align: left;
}



.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}